# Hidden folders
.idea/
.gradle/
.vscode/

# Build folders
out/
build/

# Images
*.png
*.jpg
*.jpeg
*.pdf

# Data, archives
*.csv
*.zip
*.gz

# Libs
*.so
*.dll

# Logs
logs/
*.log

# Other
/build-logic/
/data/
/old/
boolexpr/
*.txt
*.cnf
*.drat
*.bat
*.py
*.R

# Solvers sources
/kotlin-satlib-jni/solvers/
