# Hidden folders
.idea/
.gradle/

# Build folders
out/
build/

# Images
*.png
*.jpg
*.jpeg
*.pdf

# Data, archives
*.csv
*.zip
*.gz

# Libs
*.so
*.dll

# Logs
logs/
*.log

# Other
*.txt

# Solvers sources
/jni/solvers
