# Hidden folders
.idea/
.gradle/
.vscode/

# Build folders
build/
out/

# Images
*.png
*.jpg
*.jpeg
*.pdf

# Data, archives
/data/
*.csv
*.zip
*.gz

# Libs
*.so
*.dll

# Logs
logs/
*.log

# Other
/old/
/stuff/
/build-logic/
boolexpr/
solvers/
*.txt
*.cnf
*.drat
*.bat
*.py
*.R
